@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap");
label {
  font-size: 1.2rem;
  color: #656262;
}

.signupfull h1 {
  font-family: "League Spartan", sans-serif;
  font-size: 180px;
  position: absolute;
  right: 50%;
  color: #fefaf6;
  border: #1d267d;
  letter-spacing: -5px;
}
.signupfull {
  background-color: #a5d7e8;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10%;
}

.rocket {
  height: 60%;
  width: 30%;
}

.form_container {
  background-color: white;
  padding: 2rem 3rem;
  border-radius: 2rem;
  width: 20%;
  height: 31%;
  /* border:1px solid black;  */
  box-shadow: 4px 4px 24px 4px rgb(60, 120, 241);
}
.form_container1 {
  background-color: white;
  padding: 2rem 3rem;
  border-radius: 2rem;
  width: 20%;
  height: 31%;
  /* border:1px solid black;  */
  box-shadow: 4px 4px 24px 4px rgb(60, 120, 241);
}
.email {
  color: black;
  font-size: 15px;
}
.form_container > h2 {
  font-size: 30px;
  margin-block: 1rem;
  padding-block: 0.6rem;
  color: #1d267d;
}

.form_container > form {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
}

.form_container div {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.form_container input {
  border: none;
  padding: 0.5rem;
  border-bottom: 1px solid gray;
  font-size: 1.1rem;
  outline: none;
}

.form_container input::placeholder {
  font-size: 0.9rem;
  font-style: italic;
}

.form_container button {
  height: 50px;
  /* width:120px; */
  background-color: #0e2954;
  color: #fff;
  border: none;
  padding: 0.6rem;
  font-size: 23px;
  cursor: pointer;
  border-radius: 1rem;
}

.sub:hover {
  background-color: #1c82ad;
}
span {
  font-size: 15px;
}
span a {
  font-size: 15px;
  text-decoration: none;
  color: #ff204e;
}

@media only screen and (max-width: 900px) {
  .home_page {
    font-size: 1.5rem;
  }
  .home_page button {
    padding: 0.6rem 1rem;
    font-size: 1.5rem;
  }
}
.sub1:hover {
  background-color: #1c82ad;
}
@media only screen and (max-width: 1290px) {
  .signupfull h1 {
    display: none;
  }
  .rocket {
    display: none;
  }
}
@media only screen and (max-width: 1200px) {
  .signupfull h1 {
    font-size: 200px;
  }
}
