body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.full-screen-container {
  height: 100vh;  /* Full viewport height */
  width: 100vw;   /* Full viewport width */
  overflow: hidden; /* Prevent overflow */
  box-sizing: border-box; /* Include padding/border in element's total width and height */
  display: flex;   /* Allows for alignment adjustments */
  flex-direction: column; /* Stack children vertically */
}
